<header [menu]="menu"></header>

<mat-grid-list cols="3" rowHeight="100px">
  <mat-grid-tile colspan="3" rowspan="2">
    <div class="balance" *ngIf="account">
      {{ account.balance | currency }}
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="3"></mat-grid-tile>
  <mat-grid-tile>
    <a
      routerLink="/dashboard"
      mat-raised-button
      color="accent"
      class="transaction-button"
      >Back</a
    >
  </mat-grid-tile>
  <mat-grid-tile colspan="2"></mat-grid-tile>
</mat-grid-list>
